#holder{
    height: 4rem;
    text-align: center;
    width: 100%;
    background-image: url("./dash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

.sidenav {
    height: fit-content;
    width: 40px;
    margin-top: 15rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8c057ad;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 10px;
  }
  
  .sidenav a {
    padding: 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #746d6d;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 40px; /* Same as the width of the sidenav */
    padding: 1rem
  }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}