*{
    font-family:  'Spectral SC', serif;
  }


.do h4{
    margin-top: 3rem;
    font-family:  'Spectral SC', serif;
    font-size: x-large;
    border-style: outset;
    border-width: 2px;
}

.don{
  margin-top: 2rem;
  width: 100%;
  font-size: 2.8rem;
}

.don h4{
  font-size: 2rem;
  font-family: 'Spectral SC', serif;
  font-style: oblique;
}
#name{
  margin: 0 auto;
  background-color: black;
  color: white;
  width: fit-content
}

#container{
  position: relative;
  text-align: center;
}

.welcome{
  text-align: center;
  width: 100%;
}



#teams{
  
  margin-top: 3rem;
  min-height: 4rem;
  height: fit-content;
  text-align: center;
}

h3 {
  width: 88%;
  margin: 0 auto;
  background-color: #747474;
  font-size: 2rem;
  color: white;
  transform: skew(-5deg);
  margin-bottom: 2rem;
}

#about{
  margin-top: 4rem;
  font-weight: 800;
  color: white;
  background-color:#747474;
  border-radius: 2rem;
  font-size: 1.3rem;
}


#head{
  font-size: 2rem;
  text-align: center;
  font-family: 'Spectral SC', serif; ;
}

@media only screen and (min-width: 420px) {
  #container{
    border-style: groove;
    border-width: 1px;
    width: 66%;
    margin: 0 auto;
    padding: 8rem;
    padding-top: 2rem
    
}

}