
  .copyright{
    background-color: #404da3;
    text-align: center;
    color: white;
    width: 100%;
    height: 2.4rem;
    padding-top: 2%;
    font-family: cursive;
  }

  .foot{
    left: 0;
    bottom: 0;
    position:fixed;
    width: 100%;

    height: fit-content;
  }
