.btn{
    margin-bottom: 2rem;
    background-color: #747474;
    padding: 1rem;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
  }

  


 #direct{
     padding-top: 2rem;
 }


 #logo{
     background-color: #f8c057;
     color: #747474;;
     text-align: center;
     font-size: 3rem;
     font-family: 'Alfa Slab One', cursive;
     font-variant: small-caps;
     font-style: oblique;
 }