.btn{
    margin-bottom: 2rem;
    background-color: #747474;
    padding: 1rem;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
  }

  


 #direct{
     padding-top: 2rem;
     height: 53vh;
 }